@model IEnumerable<BookStoreModelLayer.Books>

@{
    ViewBag.Title = "GetAllBooks";
}

<div>
    <div class="box">
        <script src="~/Scripts/book.js"></script>
        <h2 class="text1">Bookstore</h2>
        <h4 class="text2">Cart</h4>
        @*<input type="text" placeholder="Search..">*@
    </div>
    <div class="book">
        <h2>Books</h2>
        <h5>(128 items)</h5>
    </div>
    <div class="container card_container">

        @foreach (var items in Model)
        {
            <div class="card_getbooks">
                <div class="container_getbooks">
                    <div class="getcart_field">
                        @items.BookImage
                        @*<img src="manu.jpg" />*@
                    </div>
                    <div class="getbook_field">
                        @items.BookName
                    </div>
                    <div class="getbook_field text_size">
                        By @items.AuthorName
                    </div>
                    <div class="getbook_field">
                        Rs. @items.BookPrice
                    </div>
                    <div class="buttons">
                        <div class="add">
                            <input type="button" value="ADD TO BAG" class="btn-danger" id="cartBtn-@items.BookID" onclick="AddToCart(@items.BookID)">
                        </div>
                        <input type="button" value="ADDED TO BAG" class="btn-primary" id="addedCartBtn-@items.BookID">
                        <input type="button" value="ADDED TO BAG" class="btn-primary" id="-@items.BookID">

                        <div class="wishlist">
                            <input type="button" value="Wishlist" class="btn-wishlist" id="wishBtn-@items.BookID" onclick="AddToWishList(@items.BookID)">
                        </div>
                        <input type="button" value="WISHLISTED" class="btn-second" id="addedWishBtn-@items.BookID">
                        <input type="button" value="WISHLISTED" class="btn-second" id="-@items.BookID">
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
    </div>
    <a href="https://localhost:44314/Cart/GetAllCart">Cart</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/books")
}
