@model IEnumerable<BookStoreModelLayer.ResponseWishlist>

@{
    ViewBag.Title = "ViewWishListDetails";
}

<div>
    <div class="box">
        <h2 class="text1">Bookstore</h2>
        <h4 class="text2">Cart</h4>
        @*<input type="text" placeholder="Search..">*@
    </div>
    <div class="card">
        <div class="cart_container">
            <h1>My WishList</h1>
            @foreach (var items in Model)
            {
                <div class="card_getcart">
                    <div class="getcart_field">
                        @items.BookImage
                    </div>
                    <div class="container_getcart">
                        <div class="getcart_field">
                            @items.BookName
                        </div>
                        <div class="getcart_field text_size">
                            By @items.AuthorName
                        </div>
                        <div class="getcart_field">
                            Rs.@items.BookPrice
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Site.css")
}
